@model ProductListViewModel


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListOfProducts</title>
</head>

<body>
    <h2>All Temporary Products</h2>

    <div class="row ml-5 mb-2">
        @{
            foreach (var item in Model._Products)
            {
                <div class="col-lg-4">
                    <img style="width: 400px; height: 200px;" class="img-thumbnail"
                         src="@item.Image" alt="@item.Title" />

                    <h3>@item.Title</h3>
                    <p>@item.ShortDescription</p>
                    <span style="font-size:20px"   class="badge badge-pill badge-primary" >@item.Price.ToString("c")</span>
                    <partial name="ProductSummary" model="item" />
                    <p><a class="btn btn-warning" href="#">Details</a></p>



                </div>
            }

            

        }

    </div>

    <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1">

    </div>




</body>
</html>



