@model ProductListViewModel


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListOfProducts</title>

</head>

<body>
    <h2>All Products For Your Puproses</h2>

    

    <div class="row ml-5 mb-2">
        @{
            foreach (var item in Model._Products)
            {
                <div class="col-lg-4 border border-success p-2">
                    <img style="width: 400px; height: 200px;" class="img-thumbnail"
                         src="@item.Image" alt="@item.Title" />

                    <h3>@item.Title</h3>
                    <p>@item.ShortDescription</p>

                    <div class="form-row m-2 p-2">

                        <span style="font-size:20px" class="badge badge-pill badge-primary m-2 p-2">@item.Price.ToString("c")</span>
                        <!-- <a class="btn btn-warning p-2 m-2 border border-dark" href="/Detailed" >Details</a> -->
                        <partial name="ProductSummary" model="item" />

                    </div>




                </div>





            }



        }

    </div>

  




</body>
</html>



